In [12]:
import uproot
import pandas as pd
from itertools import chain, product
import time
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as spstat
from tqdm import tqdm_notebook as tqdm

# Pad-clutering based on graph connectivity

- Each node is a hit, defined by the x-y coordinate of the readout pad.
- Node A is connected to node B, if the distance between them is 1 cm.
- A is linked to B is there is a path of connected nodes from A to B.

In [238]:
x = np.array([1,1,1,1,2,6])
y = np.array([1,2,3,4,3,5])
p = np.dstack([x,y])[0]
print(p)

[[1 1]
 [1 2]
 [1 3]
 [1 4]
 [2 3]
 [6 5]]

In [28]:
from scipy.spatial.distance import cdist

In [ ]:
A = 0
B = 2
# creating a map of connections
r = (cdist(p, p) == 1)
print(r)
connections = np.where(r)

In [10]:
class cluster:
    def __init__(self, x, y):
        self._points = np.dstack([x,y])[0]
        self._connections = np.where(cdist(self._points, self._points) == 1)
    
    def append(self, p):
        self._points = np.append(self._points, np.array([p]), axis=0)
        self._connections = np.where(cdist(self._points, self._points) == 1)
    
    def isLinked(self, a, b, history=np.array([])):
        children = self._connections[1][self._connections[0] == a]
        if children.shape[0] == 0:
            return False
        elif b in children:
            return True
        else:
            children = np.setdiff1d(children,history)
            ans = False

            new_hist =  np.concatenate((children, history))
            for child in children:
                ans = ans or self.isLinked(child, b, new_hist)
                if ans:
                    return ans
            return ans
    
    def seeding(self, p, radius=2):
        return np.where(cdist(np.array([p]), self._points) < radius)[1]
    
    def cluster(self, p, radius=2):
        source = seeding(p, radius)[0]
        members = []
        for i in range(cl._points.shape[1]):
            if i == 0:
                continue
            if cl.isLinked(0,i):
                members.append(cl._points[i])
        return members

In [246]:
cl = cluster(x,y)

In [249]:
for i in range(cl._points.shape[1]):
    if i == 0:
        continue
    if cl.isLinked(0,i):
        print(cl._points[i])

[1 2]

In [127]:
np.diff(x,y)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [54]:
y

array([1, 2, 3, 4, 3, 5])

In [57]:
np.setdiff1d(x,y)

array([6])

In [65]:
bool(sum(r[0]))

True

In [75]:
np.concatenate((x,y))

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [83]:
np.delete(x,np.where(x == 6))

array([1, 1, 1, 1, 2])

In [84]:
bool(2)

True

In [13]:
df = pd.read_csv('debug_df_mips.csv')

In [148]:
df

,eventId,chbid,xpos,ypos,dt,digit,chipid,hardid,nhits
0,11112018-2240-1_11112018-2240-1_1299,1,"[26.0, 25.0]","[24.0, 24.0]","[15.0, 16.0]","[3, 3]","[4, 2]","[7, 0]",2
1,11112018-2240-1_11112018-2240-1_1299,2,[25.0],[24.0],[15.0],[3],[2],[0],1
2,11112018-2240-1_11112018-2240-1_1299,3,[25.0],[24.0],[16.0],[2],[2],[0],1
3,11112018-2240-1_11112018-2240-1_1299,4,[25.0],[23.0],[16.0],[2],[17],[63],1
4,11112018-2240-1_11112018-2240-1_1299,5,[25.0],[23.0],[16.0],[2],[17],[63],1
...,...,...,...,...,...,...,...,...,...
116,11112018-2240-1_11112018-2240-1_817,3,[26.0],[28.0],[14.0],[2],[3],[39],1
117,11112018-2240-1_11112018-2240-1_817,4,[26.0],[28.0],[13.0],[1],[11],[52],1
118,11112018-2240-1_11112018-2240-1_817,5,[26.0],[28.0],[14.0],[2],[11],[52],1
119,11112018-2240-1_11112018-2240-1_817,6,[26.0],[28.0],[15.0],[3],[11],[52],1
120,11112018-2240-1_11112018-2240-1_817,7,[26.0],[28.0],[14.0],[2],[11],[52],1

In [150]:
df[df.chbid == 7][['eventId','xpos', 'ypos']]

                                  eventId          xpos          ypos
6    11112018-2240-1_11112018-2240-1_1299        [25.0]        [23.0]
20   11112018-2240-1_11112018-2240-1_1801        [26.0]        [27.0]
28   11112018-2240-1_11112018-2240-1_1859        [26.0]        [27.0]
50   11112018-2240-1_11112018-2240-1_2530        [26.0]        [23.0]
57   11112018-2240-1_11112018-2240-1_2555  [25.0, 26.0]  [27.0, 27.0]
64   11112018-2240-1_11112018-2240-1_2793        [26.0]        [24.0]
70   11112018-2240-1_11112018-2240-1_2869        [30.0]        [27.0]
78   11112018-2240-1_11112018-2240-1_2920        [25.0]        [25.0]
84   11112018-2240-1_11112018-2240-1_3390        [27.0]        [26.0]
92   11112018-2240-1_11112018-2240-1_3466        [28.0]        [21.0]
106  11112018-2240-1_11112018-2240-1_3991        [25.0]        [27.0]
113   11112018-2240-1_11112018-2240-1_588        [24.0]        [25.0]
120   11112018-2240-1_11112018-2240-1_817        [26.0]        [28.0]

In [219]:
x = df.xpos[(df.chbid == 7) & (df.eventId == '11112018-2240-1_11112018-2240-1_2555')]
y = df.ypos[(df.chbid == 7) & (df.eventId == '11112018-2240-1_11112018-2240-1_2555')]

str2strlist = lambda a: a.replace(']','').replace('[','').split(",") 
strlist2arrfloats = lambda lst: np.array([float(i) for i in lst])

x = x.agg(str2strlist).agg(strlist2arrfloats).iloc[0]
y = y.agg(str2strlist).agg(strlist2arrfloats).iloc[0]

In [227]:
x

array([25., 26.])

In [228]:
cl = cluster(x,y)

In [229]:
cl._points

array([[25., 27.],
       [26., 27.]])

In [223]:

cl.append(p)

In [230]:
p = np.array([24,27])

In [231]:
cl._connections

(array([0, 1]), array([1, 0]))

In [236]:
searching = np.append(cl._points, np.array([p]), axis=0)
np.where(cdist(np.array([p]), cl._points) < 2)[1][0]

0

In [237]:
for

(array([0, 1]), array([1, 0]))

In [265]:
def mut(daf):
    daf["new"] = daf.hardid.agg(lambda x: len(x))
    return None

In [266]:
mut(df)
df

,eventId,chbid,xpos,ypos,dt,digit,chipid,hardid,nhits,new
0,11112018-2240-1_11112018-2240-1_1299,1,"[26.0, 25.0]","[24.0, 24.0]","[15.0, 16.0]","[3, 3]","[4, 2]","[7, 0]",2,6
1,11112018-2240-1_11112018-2240-1_1299,2,[25.0],[24.0],[15.0],[3],[2],[0],1,3
2,11112018-2240-1_11112018-2240-1_1299,3,[25.0],[24.0],[16.0],[2],[2],[0],1,3
3,11112018-2240-1_11112018-2240-1_1299,4,[25.0],[23.0],[16.0],[2],[17],[63],1,4
4,11112018-2240-1_11112018-2240-1_1299,5,[25.0],[23.0],[16.0],[2],[17],[63],1,4
...,...,...,...,...,...,...,...,...,...,...
116,11112018-2240-1_11112018-2240-1_817,3,[26.0],[28.0],[14.0],[2],[3],[39],1,4
117,11112018-2240-1_11112018-2240-1_817,4,[26.0],[28.0],[13.0],[1],[11],[52],1,4
118,11112018-2240-1_11112018-2240-1_817,5,[26.0],[28.0],[14.0],[2],[11],[52],1,4
119,11112018-2240-1_11112018-2240-1_817,6,[26.0],[28.0],[15.0],[3],[11],[52],1,4
120,11112018-2240-1_11112018-2240-1_817,7,[26.0],[28.0],[14.0],[2],[11],[52],1,4

In [302]:
dataId = 'eventId'
df_mip = df
# preparing for fit
tofit = df_mip.groupby(dataId).agg(lambda x: x.tolist())[['chbid', 'xpos', 'ypos', 'nhits']]

tofit_xyz = tofit[['xpos', 'ypos']]

# # Fitting track
# fit = pd.DataFrame({'zx': tofit_xyz[['chbid', 'xpos']].apply(tuple, axis=1),
#                 'zy': tofit_xyz[['chbid', 'ypos']].apply(tuple, axis=1)})
# tofit_xyz[['zx', 'zy']] = fit.applymap(lambda p: np.polyfit(p[0], p[1], 1))

In [326]:
tofit_xyz.loc['11112018-2240-1_11112018-2240-1_1299']

xpos    [[26.0, 25.0], [25.0], [25.0], [25.0], [25.0],...
ypos    [[24.0, 24.0], [24.0], [24.0], [23.0], [23.0],...
Name: 11112018-2240-1_11112018-2240-1_1299, dtype: object

In [319]:
df['new2'].loc[df.eventId == '11112018-2240-1_11112018-2240-1_1299']='yo'

In [324]:
df['new2'] = np.empty(len(df))

In [325]:
df

,eventId,chbid,xpos,ypos,dt,digit,chipid,hardid,nhits,new,new2
0,11112018-2240-1_11112018-2240-1_1299,1,"[26.0, 25.0]","[24.0, 24.0]","[15.0, 16.0]","[3, 3]","[4, 2]","[7, 0]",2,yo,0.0
1,11112018-2240-1_11112018-2240-1_1299,2,[25.0],[24.0],[15.0],[3],[2],[0],1,yo,0.0
2,11112018-2240-1_11112018-2240-1_1299,3,[25.0],[24.0],[16.0],[2],[2],[0],1,yo,0.0
3,11112018-2240-1_11112018-2240-1_1299,4,[25.0],[23.0],[16.0],[2],[17],[63],1,yo,0.0
4,11112018-2240-1_11112018-2240-1_1299,5,[25.0],[23.0],[16.0],[2],[17],[63],1,yo,0.0
...,...,...,...,...,...,...,...,...,...,...,...
116,11112018-2240-1_11112018-2240-1_817,3,[26.0],[28.0],[14.0],[2],[3],[39],1,4,0.0
117,11112018-2240-1_11112018-2240-1_817,4,[26.0],[28.0],[13.0],[1],[11],[52],1,4,0.0
118,11112018-2240-1_11112018-2240-1_817,5,[26.0],[28.0],[14.0],[2],[11],[52],1,4,0.0
119,11112018-2240-1_11112018-2240-1_817,6,[26.0],[28.0],[15.0],[3],[11],[52],1,4,0.0
120,11112018-2240-1_11112018-2240-1_817,7,[26.0],[28.0],[14.0],[2],[11],[52],1,4,0.0

In [8]:

for i in range(df.shape[0]):
    p = [df.zx.iloc[i][0]*df.chbid.iloc[i] + df.zx.iloc[i][1],
         df.zy.iloc[i][0]*df.chbid.iloc[i] + df.zy.iloc[i][1]]
    print("x: {}".format(df.xpos.iloc[i]))
    print("y: {}".format(df.ypos.iloc[i]))
    cl = clustet(df.xpos.iloc[i], df.xpos.iloc[i]) 
    cl.seeding(p)
    df['cl_members'] = cl.cluster(p)

[26.0, 25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[24.0, 25.0]
[25.0]
[26.0, 25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[26.0, 25.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[27.0, 26.0]
[27.0]
[27.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0, 26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0, 26.0]
[26.0]
[26.0]
[26.0, 26.0]
[26.0]
[26.0]
[26.0]
[27.0, 26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[25.0, 26.0]
[26.0]
[26.0]
[25.0]
[26.0]
[26.0]
[25.0, 26.0]
[27.0, 26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[31.0, 30.0]
[31.0]
[30.0]
[30.0]
[30.0]
[30.0]
[31.0, 30.0]
[25.0, 25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[27.0, 27.0]
[27.0]
[27.0]
[27.0]
[27.0]
[27.0]
[27.0]
[28.0, 28.0]
[28.0]
[28.0]
[28.0]
[28.0]
[28.0]
[28.0]
[29.0, 30.0]
[30.0]
[30.0]
[30.0]
[30.0]
[30.0]
[30.0]
[26.0, 25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[25.0]
[24.0, 23.0]
[24.0]
[24.0]
[24.0]
[24.0]
[24.0]
[24.0]
[26.0, 26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]
[26.0]

In [11]:
df.shape

(121, 9)

In [24]:
df.head()

,eventId,chbid,xpos,ypos,dt,digit,chipid,hardid,nhits
0,11112018-2240-1_11112018-2240-1_1299,1,"[26.0, 25.0]","[24.0, 24.0]","[1,100]","[3, 3]","[4, 2]","[7, 0]",2
1,11112018-2240-1_11112018-2240-1_1299,2,[25.0],[24.0],[15.0],[3],[2],[0],1
2,11112018-2240-1_11112018-2240-1_1299,3,[25.0],[24.0],[16.0],[2],[2],[0],1
3,11112018-2240-1_11112018-2240-1_1299,4,[25.0],[23.0],[16.0],[2],[17],[63],1
4,11112018-2240-1_11112018-2240-1_1299,5,[25.0],[23.0],[16.0],[2],[17],[63],1

In [64]:
indices = df[df.chbid == 1].index.tolist()
df['tmp'].update(pd.Series([[1,1]]*len(indices), index=indices))
df[df.chbid == 1].head()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [54]:
pd.Series([[1,1]]*len(indices), index=indices)

0      [1, 1]
7      [1, 1]
14     [1, 1]
22     [1, 1]
30     [1, 1]
37     [1, 1]
44     [1, 1]
51     [1, 1]
58     [1, 1]
65     [1, 1]
72     [1, 1]
79     [1, 1]
86     [1, 1]
93     [1, 1]
100    [1, 1]
107    [1, 1]
114    [1, 1]
dtype: object

In [62]:
df['tmp'] = []*df.shape[0]

In [63]:
df

,eventId,chbid,xpos,ypos,dt,digit,chipid,hardid,nhits,tmp
0,11112018-2240-1_11112018-2240-1_1299,1,"[26.0, 25.0]","[24.0, 24.0]","[1, 1]","[3, 3]","[4, 2]","[7, 0]",2,2.395528e-314
1,11112018-2240-1_11112018-2240-1_1299,2,[25.0],[24.0],[15.0],[3],[2],[0],1,2.207540e-314
2,11112018-2240-1_11112018-2240-1_1299,3,[25.0],[24.0],[16.0],[2],[2],[0],1,2.207540e-314
3,11112018-2240-1_11112018-2240-1_1299,4,[25.0],[23.0],[16.0],[2],[17],[63],1,2.207540e-314
4,11112018-2240-1_11112018-2240-1_1299,5,[25.0],[23.0],[16.0],[2],[17],[63],1,2.207540e-314
...,...,...,...,...,...,...,...,...,...,...
116,11112018-2240-1_11112018-2240-1_817,3,[26.0],[28.0],[14.0],[2],[3],[39],1,2.207540e-314
117,11112018-2240-1_11112018-2240-1_817,4,[26.0],[28.0],[13.0],[1],[11],[52],1,2.207540e-314
118,11112018-2240-1_11112018-2240-1_817,5,[26.0],[28.0],[14.0],[2],[11],[52],1,2.207540e-314
119,11112018-2240-1_11112018-2240-1_817,6,[26.0],[28.0],[15.0],[3],[11],[52],1,2.207540e-314
120,11112018-2240-1_11112018-2240-1_817,7,[26.0],[28.0],[14.0],[2],[11],[52],1,2.207540e-314